<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Sign-up</title>
</head>
<body class="overflow-hidden">
  <div class="login-box">
    <h2>Sign up</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="user-box">
        <input type="email" name="email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <div class="user-box">
        <input type="password" name="cPassword" required="">
        <label>Confirm Password</label>
      </div>
      <button type="submit" class="a">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <a class="ml-3" href="login">Login</a>
    </form>
  </div>
</body>
</html>
